
.container{
    max-width: 1440px;
    min-width: 375px;
    height: 100vh;    
    background-color:hsl(212, 45%, 89%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.boxtarjeta{
    max-width: 273.2px;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
           
}

.boximg{
    width: 90%;
    height: 60%;
    margin-top: 6%;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 3%;

}

.boxtext{
    width: 80%;
    height: 20%;
    margin-top: 2%;
    text-align: center;
}

.text:nth-child(1){
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}
.text:nth-child(2){
    font-family: 'Outfit', sans-serif;
    font-size: small;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

